In [2]:
import pandas as pd
import datetime

In [3]:
dtypes = {
    'Address': pd.StringDtype(), 
    'CaseNumber': pd.StringDtype(), 
    'CrimeAgainst': pd.StringDtype(), 
    'Neighborhood': pd.StringDtype(), 
    'OccurTime': pd.StringDtype(), 
    'OffenseCategory': pd.StringDtype(), 
    'OffenseType': pd.StringDtype(), 
    'OpenDataLat': pd.Float64Dtype(),
    'OpenDataLon': pd.Float64Dtype(), 
    'OpenDataX': pd.Float64Dtype(), 
    'OpenDataY': pd.Float64Dtype(),  
    'OffenseCount': pd.Float64Dtype()
}

parse_dates = ['ReportDate', 'OccurDate']

In [20]:
year = datetime.datetime.now().year
month = datetime.datetime.now().month
all_data = []
previous_data_loaded = True

if previous_data_loaded:
    url = f'https://public.tableau.com/views/PPBOpenDataDownloads/CrimeData-{str(year)}.csv?:showVizHome=no'
    df = pd.read_csv(url, dtype=dtypes, parse_dates=parse_dates)
    all_data.append(df)
else:
    for year in range(2015, 2025):
        url = f'https://public.tableau.com/views/PPBOpenDataDownloads/CrimeData-{str(year)}.csv?:showVizHome=no'
        df = pd.read_csv(url, dtype=dtypes, parse_dates=parse_dates)
        all_data.append(df)

Some data loaded

In [5]:
df_all = pd.read_csv('oregon-crime.csv', parse_dates=parse_dates, dtype=dtypes)

In [4]:
df_all = pd.concat(all_data)

In [5]:
df_all.to_csv('oregon-crime.csv', index=False)

In [6]:
df_all.head(5)

,Address,CaseNumber,CrimeAgainst,Neighborhood,OccurDate,OccurTime,OffenseCategory,OffenseType,OpenDataLat,OpenDataLon,OpenDataX,OpenDataY,ReportDate,OffenseCount
0,<NA>,15-X197430,Person,Piedmont,2015-05-12,1400,Assault Offenses,Intimidation,<NA>,<NA>,<NA>,<NA>,2015-05-12,1.0
1,<NA>,15-X4282999,Person,Buckman West,2015-05-01,2143,Assault Offenses,Simple Assault,<NA>,<NA>,<NA>,<NA>,2015-05-01,1.0
2,<NA>,15-X4283033,Person,University Park,2015-05-01,1625,Assault Offenses,Simple Assault,<NA>,<NA>,<NA>,<NA>,2015-05-01,1.0
3,<NA>,15-X4283218,Person,Madison South,2015-05-01,1820,Assault Offenses,Simple Assault,<NA>,<NA>,<NA>,<NA>,2015-05-01,1.0
4,<NA>,15-X4283218,Person,Madison South,2015-05-01,1820,Kidnapping/Abduction,Kidnapping/Abduction,<NA>,<NA>,<NA>,<NA>,2015-05-01,1.0

In [7]:
df_all.columns

Index(['Address', 'CaseNumber', 'CrimeAgainst', 'Neighborhood', 'OccurDate',
       'OccurTime', 'OffenseCategory', 'OffenseType', 'OpenDataLat',
       'OpenDataLon', 'OpenDataX', 'OpenDataY', 'ReportDate', 'OffenseCount'],
      dtype='object')

In [8]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 538614 entries, 0 to 538613
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Address          492993 non-null  string
 1   CaseNumber       538614 non-null  string
 2   CrimeAgainst     538614 non-null  string
 3   Neighborhood     520801 non-null  string
 4   OccurDate        538614 non-null  datetime64[ns]
 5   OccurTime        538614 non-null  string
 6   OffenseCategory  538614 non-null  string
 7   OffenseType      538614 non-null  string
 8   OpenDataLat      481408 non-null  Float64
 9   OpenDataLon      481408 non-null  Float64
 10  OpenDataX        481408 non-null  Float64
 11  OpenDataY        481408 non-null  Float64
 12  ReportDate       538614 non-null  datetime64[ns]
 13  OffenseCount     538614 non-null  Float64
dtypes: Float64(5), datetime64[ns](2), string(7)
memory usage: 60.1 MB

In [18]:
arrests = pd.read_csv('OpenData-Arrests-All.csv')
leoka = pd.read_csv('OpenData-LEOKA-All.csv')
offenses = pd.read_csv('OpenData-Offenses-All.csv')
victims = pd.read_csv('OpenData-Victims-All.csv')

In [20]:
arrests.head()

,Agency Name,Arrestee Age (group),Arrestee Gender,Arrestee Race,County,Date,NIBRS Crime Against,NIBRS Crime Description,NIBRS Report Title,Distinct Arrest Offenses
0,Beaverton PD MIP,0-10,Male,Black or African American,Washington,10/14/2021,Person,Simple Assault,Simple Assault,1
1,Bend PD MIP,0-10,Female,Unknown,Deschutes,8/4/2020,Other,Oregon Specific Crime (ONIBRS),Part 3,1
2,Bend PD MIP,0-10,Female,White,Deschutes,1/20/2023,Other,Oregon Specific Crime (ONIBRS),Part 3,1
3,Bend PD MIP,0-10,Female,White,Deschutes,1/20/2023,Person,Simple Assault,Simple Assault,1
4,Bend PD MIP,0-10,Female,White,Deschutes,1/20/2023,Property,Destruction/Damage/Vandalisim of Property,Vandalism,1

In [24]:
arrests.Date = pd.to_datetime(arrests.Date, format='%m/%d/%Y').dt.date

In [26]:
arrests.columns

Index(['Agency Name', 'Arrestee Age (group)', 'Arrestee Gender',
       'Arrestee Race', 'County', 'Date', 'NIBRS Crime Against',
       'NIBRS Crime Description', 'NIBRS Report Title',
       'Distinct Arrest Offenses'],
      dtype='object')

In [21]:
leoka.head()

,Agency Name,County,IncidentDate,LEOKA Assignment Type (NIBRS),LEOKA Circumstance,NIBRS Crime Description,NIBRS Report Title,Victim Age (group),Victim Gender,Victim Race,Distinct Offense Victims
0,Clackamas SO,Clackamas,6/10/2023,One Man Vehicle - Alone,Robberies in Progress/Pursuing Robbery Suspects,Simple Assault,Simple Assault,20,Female,White,1
1,Gresham PD MIP,Multnomah,10/24/2021,Other - Assisted,All Other,Aggravated Assault,Aggravated Assault,20,Male,Unknown,1
2,Portland Police Bureau MIP,Multnomah,4/23/2021,Two Man Vehicle,Attempting Other Arrests,Aggravated Assault,Aggravated Assault,20,Female,White,1
3,Astoria PD,Clatsop,4/1/2023,One Man Vehicle - Alone,Attempting Other Arrests,Aggravated Assault,Aggravated Assault,21,Male,White,1
4,Astoria PD,Clatsop,2/18/2023,One Man Vehicle - Alone,Traffic Pursuit and Stops,Simple Assault,Simple Assault,21,Male,White,1

In [27]:
leoka.columns

Index(['Agency Name', 'County', 'IncidentDate',
       'LEOKA Assignment Type (NIBRS)', 'LEOKA Circumstance',
       'NIBRS Crime Description', 'NIBRS Report Title', 'Victim Age (group)',
       'Victim Gender', 'Victim Race', 'Distinct Offense Victims'],
      dtype='object')

In [22]:
victims.head()

,Agency Name,County,IncidentDate,NIBRS Crime Against,NIBRS Crime Description,NIBRS Report Title,Victim Age (group),Victim Gender,Victim Race,VictimType,Distinct Offense Victims
0,Marion SO,Marion,1/2/2020,Other,OUCR Only Crime,Part 3,NaN,NaN,NaN,NaN,0
1,Marion SO,Marion,1/3/2020,Other,OUCR Only Crime,Part 3,NaN,NaN,NaN,NaN,0
2,Marion SO,Marion,1/8/2020,Other,OUCR Only Crime,Part 3,NaN,NaN,NaN,NaN,0
3,Marion SO,Marion,1/10/2020,Other,OUCR Only Crime,Part 3,NaN,NaN,NaN,NaN,0
4,Marion SO,Marion,1/24/2020,Other,OUCR Only Crime,Part 3,NaN,NaN,NaN,NaN,0

In [23]:
offenses.head()

,Agency Name,County,IncidentDate,NIBRS Crime Against,NIBRS Crime Description,NIBRS Report Title,Distinct Offenses
0,Albany PD,Linn,1/1/2020,Other,Oregon Specific Crime (ONIBRS),Part 3,1
1,Albany PD,Linn,1/2/2020,Other,Oregon Specific Crime (ONIBRS),Part 3,5
2,Albany PD,Linn,1/3/2020,Other,Oregon Specific Crime (ONIBRS),Part 3,1
3,Albany PD,Linn,1/4/2020,Other,Oregon Specific Crime (ONIBRS),Part 3,3
4,Albany PD,Linn,1/5/2020,Other,Oregon Specific Crime (ONIBRS),Part 3,5

In [19]:
year = datetime.datetime.now().year
month = datetime.datetime.now().month

In [20]:
print(year, month)

2024 4

In [16]:
(df_all.OffenseCount == 0).any()

False

In [24]:
df_all.ReportDate.min()

Timestamp('2015-05-01 00:00:00')

In [25]:
df_all.OccurDate.min()

Timestamp('1950-04-25 00:00:00')

### Load data from GCS

In [ ]:
leoka.IncidentDate = pd.to_datetime(leoka.IncidentDate, format='%m/%d/%Y').dt.date
victims.IncidentDate = pd.to_datetime(victims.IncidentDate, format='%m/%d/%Y').dt.date
offenses.IncidentDate = pd.to_datetime(offenses.IncidentDate, format='%m/%d/%Y').dt.date

data.Date = pd.to_datetime(arrests.Date, format='%m/%d/%Y').dt.date


urls = ['https://www.oregon.gov/osp/Docs/Open-Data/OpenData-Offenses-All.csv',
            'https://www.oregon.gov/osp/Docs/Open-Data/OpenData-Arrests-All.csv',
            'https://www.oregon.gov/osp/Docs/Open-Data/OpenData-LEOKA-All.csv',
            'https://www.oregon.gov/osp/Docs/Open-Data/OpenData-Victims-All.csv']